.card-special img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    
   
}

.card-special {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px;
    height: 150px; */
    
}