.content-class{
    background-color: aliceblue;
    width:350px;
    height:450px;
}
.content-class-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(123, 6, 6);
}

.content-class-button button{
    color: white;
    background-color: rgb(18, 162, 234);
    border-radius: 5px;
    border-style:none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.content-class-button{
    display: flex;
    justify-content: center;
    
}

.content-class-content p{
    text-indent: 20px;
    text-align: justify;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}