.bottom-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 64px;
    background-color: azure;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bottom-logos img {
    margin-left: 10px;
    margin-right: 10px;
}